* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
background-image: url('/assets/background/white-wood.jpg');
}


.container-conversor {
  display: flex;
  justify-content: center;
}

.inside {
  box-shadow: rgb(35 55 80 / 30%) 0px 12px 12px;
  background-color: #fff;
  width: 1104px;
  height: 242px;
  border-radius: 5px;
}

.importe-span {margin-left: 5px;}

.importe-span,
.de-span,
.a-span {
  display: block;
  font-weight: 600;
  font-size: 1.1em;
}

.texto-error-importe,
.texto-error-a-importe {
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  color: red
}

.fa-dollar-sign {
  position: absolute;
  margin-top: 42px;
  margin-left: 25px;
  font-size: 1.3em;
  color:#C2BFBF;
}

.input-importe {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  cursor: pointer;
  border-radius: 2pt;
  outline: none;
  transition: .1s;
  width: 290px;
  margin-left: 5px;
}

.input-importe::-webkit-inner-spin-button,
.input-importe::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.input-de-importe {
  box-sizing: border-box;
  padding: 14px 20px 12px 45px;
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  cursor: default;
  width: 290px;
}
.input-a-importe {
  box-sizing: border-box;
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: top 17px left 15px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  outline: none;
  width: 290px;
  cursor: pointer;
}


.input-a-importe.correct:focus {cursor: auto; box-shadow: 0 0 3pt 2pt green;}
.input-importe.correct:focus {cursor: auto; box-shadow: 0 0 3pt 2pt green;}
.input-importe.error:focus {cursor: auto; box-shadow: 0 0 3pt 2pt red;}
.input-a-importe.error:focus {cursor: auto; box-shadow: 0 0 3pt 2pt red;}
.input-importe:focus {cursor: auto; box-shadow: 0 0 3pt 2pt cornflowerblue;}
.input-a-importe:focus {cursor: auto; box-shadow: 0 0 3pt 2pt cornflowerblue;}

.currency-selected-a.active {
  margin-left: 5px;
}

.dropdown-de .currency-selected-de.active,
.dropdown-a .currency-selected-a.active {
position: absolute;
width: 40px;
margin-top: 5px;
/* border-radius: 15px; */
}

.dropdown-de,
.dropdown-a {
  position: relative;
  display: inline-block;
}

.dropdown-content-de,
.dropdown-content-a {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 292px;
  overflow: auto;
  height: 360px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 7px;
  z-index: 100;
}

.bandera-input {
  width: 40px;
  border-radius: 40%;
}

.bandera-input.active {
  position: absolute;
  width: 40px;
  margin-left: 5px;
  border-radius: 15px;
}

.currency-selected-a {
  display: flex;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 10px;
}

.currency-selected-de:hover,
.currency-selected-a:hover {
  background-color: #D1C7CF
}

.active:hover,
.active:hover {
  background-color: white
}

.descripcion-de {
  color: #000;
  margin-left: 51px;
  margin-top: 22px;
}

.descripcion-a {
  color: #000;
  margin-top: 8px;
  margin-left: 5px;
}

.moneda-no-disponible {
  display: none;
  margin-top: 8px;
  margin-left: 5px;
}

.dropdown span:hover {background-color: #fff;}

.show {display: block;}

.dropdown-content img {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
}

.selectbox-de-importe,
.selectbox-a-importe {
  width: 50%;
  margin: auto;
  position: relative;
}

.select-de-importe,
.select-a-importe {
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease all;
  /* margin-bottom: 30px; */
  padding: 30px;
  z-index: 200;
  border-radius: 2px solid transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .16)
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn-convertir {
  background: linear-gradient(to bottom, #111 0%, #222 100%);
  border-radius: 4px;
  color: white;
  border: none;
  width: 90px;
  box-shadow: 0 8px 0 #111;
}

a {
  text-decoration: none;
}

.github {
  display: flex;
  justify-content: center;
}

.fa-github {
  color: #000;
  font-size: 3em;
}